---
import '../styles/image-comparisons.css';

export interface Props {
    aspectRatio: string;
    height: string;
    imageAfterAlt: string;
    imageAfterURL: string;
    imageBeforeAlt: string;
    imageBeforeURL: string;
    maxWidth: string;
    width: string;
}

const {
    aspectRatio,
    height,
    imageAfterAlt,
    imageAfterURL,
    imageBeforeAlt,
    imageBeforeURL,
    maxWidth,
    width,
} = Astro.props as Props;


const imageComparisonId = String(Math.random());
---

<div
    class={`relative rounded-3xl ${maxWidth} overflow-hidden dark:sm:border-0 dark:border-0 sm:border-4 border-2 border-light-1`}
>
    <img
        alt={imageAfterAlt}
        class={`absolute w-full h-full object-cover object-left select-none ${aspectRatio}`}
        id={imageComparisonId}
        height={height}
        src={imageAfterURL}
        width={width}
    />
    <img
        alt={imageBeforeAlt}
        class={`object-fill select-none ${aspectRatio}`}
        height={height}
        src={imageBeforeURL}
        width={width}
    />
    <input
        alt="Range slider that controls a comparison of two images"
        class="absolute w-full top-1/2 h-0"
        data-image-comparison-id={imageComparisonId}
        id="slider"
        max="250"
        name="slider"
        min="0"
        type="range"
        value="125"
    />
</div>
<label class="text-neutral-600 dark:text-neutral-400 font-semibold" for="slider">
    Use the slider to compare the differences between the desktop and shorts video player
</label>
