---
import '../styles/image-comparisons.css';

export interface Props {
    aspectRatio: string;
    height: string;
    imageAfterAlt: string;
    imageAfterURL: string;
    imageBeforeAlt: string;
    imageBeforeURL: string;
    maxWidth: string;
    width: string;
}

const {
    aspectRatio,
    height,
    imageAfterAlt,
    imageAfterURL,
    imageBeforeAlt,
    imageBeforeURL,
    maxWidth,
    width,
} = Astro.props as Props;
---

<div
    class={`rounded-3xl overflow-hidden dark:sm:border-0 dark:border-0 sm:border-4 border-2 border-light-1 ${maxWidth} ${aspectRatio}`}
>
    <img-comparison-slider value="1">
        <img
            alt={imageAfterAlt}
            height={height}
            slot="first"
            src={imageAfterURL}
            width={width}
        />
        <img
            alt={imageBeforeAlt}
            height={height}
            slot="second"
            src={imageBeforeURL}
            width={width}
        />
        <svg
            slot="handle"
            viewBox="0 0 24 24"
            height="100"
            width="100"
        >
            <path
                fill="#f40407"
                d="M18.17,12L15,8.83L16.41,7.41L21,12L16.41,16.58L15,15.17L18.17,12M5.83,12L9,15.17L7.59,16.59L3,12L7.59,7.42L9,8.83L5.83,12Z"
            ></path>
        </svg>
        <img-comparison-slider />
        <img-comparison-slider />
    <img-comparison-slider>
</div>
<span class="text-light-3 dark:text-dark-3 font-semibold"
    >Move the slider to compare the differences between the desktop and shorts video player</span
>
