---
export interface Props {
    anchor?: string;
    desktopTextSize?: string,
    mobileTextSize?: string,
}

const { anchor, desktopTextSize = 'sm:text-3xl', mobileTextSize = 'text-2xl' } = Astro.props as Props;
---

{
    anchor ? (
        <a class="flex flex-row" href={`#${anchor}`}>
            <span class={`${mobileTextSize} font-bold ${desktopTextSize}`}>
                <slot />
            </span>
        </a>
    ) : (
        <span class={`${mobileTextSize} font-bold ${desktopTextSize}`}>
            <slot />
        </span>
    )
}
